* {
  box-sizing: border-box;
}

.container {
  background-color: rgb(57, 56, 56);
  height: 100vh;
}

.box {
  background-color: white;
  border: 2px solid;
  padding: 50px;
  height: auto;
  width: 50%;
  float: left;
  text-align: center;
  min-height: 50%;
}
