#box1 {
  width: 200px;
  height: 200px;
  background-color: rgb(85, 85, 219);
  position: relative;
  top: 70px;
  left: 100px;
}

#box2 {
  width: 200px;
  height: 200px;
  top: -40px;
  right: 0;
  background-color: rgb(85, 219, 98);
  position: fixed;
}

#box3 {
  width: 100px;
  height: 100px;
  background-color: rgb(190, 219, 85);
  position: absolute;
  top: 50px;
  left: 50px;
}

#box4 {
  width: 100px;
  height: 100px;
  background-color: rgb(219, 85, 107);
  position: sticky;
  top: 50px;
  left: 50px;
}

#box5 {
  width: 100px;
  height: 100px;
  background-color: rgb(97, 103, 123);
  position: static;
  top: 50px;
  left: 50px;
}
