h1::first-letter {
  font-size: 2em;
  font-style: italic;
}

p::first-line {
  background-color: rgba(255, 0, 0, 0.484);
}

p::selection {
  color: white;
  background-color: green;
}

#apple::after {
  content: "🍎";
}

#orange::after {
  content: "🍊";
}

#banana::after {
  content: "🍌";
}

#fruit li::marker {
  content: "◼";
  color: rgb(160, 42, 160);
  font-size: 1.2em;
}
