body {
  margin: 0px;
}

.box {
  border: 5px solid;
  font-size: 30px;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

#box1 {
  background-color: #911a1a;
  margin-top: 40px;
  margin-left: 30px;
  margin: auto;
}

#box2 {
  background-color: #a4a655;
  margin-left: auto;
}
