body {
  background-color: black;
}

h2 {
  color: #6a5acd;
}

#p1 {
  color: chocolate;
}

#p2 {
  color: #808000;
}

#p3 {
  color: rgb(3, 90, 252);
}

#p4 {
  color: #fc03ba;
}
